body {
    font-family: Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 30px;
}
code {
    font-family: dejavu sans mono, monospace;
    font-size: 0.8em;
    color: black;
    background-color: #f2f2f2;
    padding: 0px 5px;
    border: 1px solid;
    border-color: lightgrey;
    border-radius: 5px;
}
a {
    color: #002FFF;
    text-decoration: none;
}
a:hover {
    color: #037DFF;
    /*background-color: lightblue;*/
    border-radius: 5px;
    padding: 0px 5px;
/*    border: 1px solid;
    border-color: lightgrey;*/
}
a:visited {
    /*color: darkblue;*/
}
a:active {
    position: relative;
    top: 1px;
}

.table {
    background-color: lightgrey;
    border-radius: 10px;
    position: relative;
    float: right;
    display: inline-block;
    vertical-align: top;
    width: 300px;
    margin-left: 1em;
    margin-bottom: 1em;
}

.table h4 {
    text-align: center;
    font-family: Helvetica, sans-serif;
}

h1 {
    font-family: Helvetica, sans-serif;
}

.button {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
    background-color: #f9f9f9;
    border-radius: 5px;
    text-indent: 0px;
    border: 1px solid #dcdcdc;
    display: inline-block;
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: normal;
    font-style: normal;
    height: 30px;
    line-height: 30px;
    width: 90px;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0px #ffffff;
}
.button:hover {
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
    background-color: #e9e9e9;
}
.button:active {
    position: relative;
    top: 1px;
}